.container {
  height: 100vh;
  width: 100%;
  display: inline-block;
  position: relative;
  place-content: center;
  place-items: center;
}
.pokedexSvg {
  height: 100%;
  max-width: 100%;
}

.sticks {
  transition: all 0.2s ease;
  transform-box: fill-box;
  transform-origin: center center;
}
.leftStickOn {
  transform: translateX(-2%) rotateY(-20deg);
}

.rightStickOn {
  transform: translateX(2%) rotateY(20deg);
}

.upStickOn {
  transform: scale(0.95) translateY(-2%) rotateX(20deg);
}

.downStickOn {
  transform: scale(1.05) translateY(3%) rotateX(-20deg);
}

.icon {
  cursor: pointer;
}
.icon + image {
  opacity: 90%;
  pointer-events: none;
  touch-action: none;
}
.icon:hover + image {
  filter: invert();
  transition: filter 0.3s ease-in-out;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
