.container {
  height: 100vh;
  width: 100%;
  display: inline-block;
  position: relative;
  place-content: center;
  place-items: center;
}
.cardsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.cardsContainer * {
  visibility: initial;
}
.background {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 53%;
  height: 53%;
  top: 15%;
  left: 25.2%;
  box-shadow: 0 0 0 0.2em black;

  background-color: white;
}
.background img {
  width: 100%;
}
.stats {
  margin-top: 0.2em;
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.stats label {
  padding: 2% 0%;
  width: 50%;
  height: 10%;
  font-size: 0.7em;
  font-family: pokedexFont;
}

.sprite {
  position: absolute;
  width: 7.5em;
  max-width: 7.5em;
  max-height: 7.5em;
  object-fit: contain;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all ease 1s;
  animation: spawn 2s;
}

.types {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.1em;
  padding: 0.2em;
  position: absolute;
  width: 14.5em;
  height: 10em;
  align-content: space-between;
}
.types img {
  width: 35%;
}
@keyframes spawnOpacity {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes spawn {
  from {
    transform: translate(-50%, -50%) scale(0.1);

    filter: brightness(0%) invert(1);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    filter: brightness(100%) invert(0);
  }
}

/*Loading*/
.ldsRipple {
  position: absolute;
  width: 7.5em;
  max-width: 7.5em;
  max-height: 7.5em;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.ldsRipple div {
  position: absolute;
  border: 0.5em solid black;
  opacity: 1;
  border-radius: 50%;
  animation: ldsRipple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldsRipple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ldsRipple {
  0% {
    top: 5em;
    left: 5em;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 5em;
    left: 5em;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 5em;
    left: 5em;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0em;
    left: 0em;
    width: 10em;
    height: 10em;
    opacity: 0;
  }
}
