.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.container *{
  visibility: visible;
}
.container label {
  position: absolute;
  font-size: 0.7em;
  line-height: 1.8em;
  font-weight: bolder;
  left: 33%;
  bottom: -5%;
  width: 25%;
  font-family: pokedexFont;
}
