.gridStick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -25%);
    scale: 0.2;
    display: flex;
    visibility: hidden;
  }
  .leftStick {
    width: 50%;
    visibility: initial;
  }
  
  .rightStick {
    width: 50%;
    visibility: initial;
  }